<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Yu-gi-Oh! Forbidden Memories Fusion Wiki</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">All cards</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/hand']">Hand</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/fusions']">Fusions</a></li>
            </ul>

            <div class="navbar-form navbar-right" role="search">
                <button type="submit" class="btn btn-default" style="margin-left: 10px" (click)="resetAll()">Restart</button>
            </div>
        </div>
    </div>    
</nav>