<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ card.id }} - {{card.cardName}}</a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
            <li *ngIf="card.addedToHand != undefined && card.addedToHand > 0"><span class="badge badge-primary badge-pill">{{ card.addedToHand }}</span></li>
            <li><button type="submit" class="btn btn-success" (click)="addToCurrentHand(card)">All Matches</button></li>
            <li><button type="submit" class="btn btn-primary" (click)="addToCurrentHand(card)">Draw</button></li>
            <li><button type="submit" class="btn btn-warning" (click)="removeCardFromHand(card)">Remove one</button></li>
            <li><button type="submit" class="btn btn-danger" (click)="removeAllCardFromHand(card)">Remove all</button></li>
            </ul>
        </div>
    </div>
</nav>